
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  align-items: center;
}

figure {
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
  overflow-x: hidden;
}

figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  image-rendering: auto;
}


p {
  text-align: justify;
  hyphens: auto;
}


figcaption {
  text-align: center;
  color: darkred;
  font-size: 12px;
}

.red {
  color: red !important;
}

.red:hover {
  color: darkred !important;
}

.fat {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 70px;
  line-height: 0.7;
  margin-top: 35px;
  margin-bottom: 18px;
}

.spicy {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.menu-title {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 24px;
  font-variation-settings: "wdth" 100;
  line-height: 0.5;
  margin-top: 0px;
}


.menu-subtitle {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  font-variation-settings: "wdth" 100;
  line-height: 0.5;
  margin-top: -5px;
  margin-bottom: 4px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    max-width: 100%;
    overflow: hidden;
}

.guzik {
    width: 100%;
    min-width: 50px;  
    max-width: 101px;
    aspect-ratio: 2.5 / 1;
    margin: 20px;
    object-fit: contain;
    border-radius: 33px;
    border: solid 2px #000;
}


.guzik-1 {
  background-image: url(guzik_1.png);
}

.guzik-2 {
  background-image: url(guzik_2.png);
}

.guzik-3 {
  background-image: url(guzik_3.png);
}

.guzik:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.guzik:active,
.guzik.clicked {
  box-shadow: inset 0px 6px 4px rgba(0, 0, 0, 0.5);
}


#fluid-container {
    border-radius: 20px;
    background-color: #F8F9FA;
    padding: 20px;
    width: 100%;
    max-width: 552px;
    margin: 0 auto;
    margin-top: 10px;
    box-sizing: border-box;
}



#menu {
  text-align: center;
  margin-bottom: 1px;
}

#canvas-container {
  max-width: 512px;
  width: 100%;
  margin: 0 auto;
}


canvas {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  background: black;
}



.simulation-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    padding-top: 350px;
    padding-bottom: 350px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


footer {
  background-color: #777;
  padding: 10px;
  text-align: left;
  color: white;
}

/*usuwam przycisk nawigacji, który się pojawia przy zmniejszeniu strony, bo nic nie robi, nwm czy potrzebne komuś będzie, mam nadzieję, że nikt nie będzie szukać milion lat, gdzie to się schowało, bo przecież jest w kodzie :D */
.navbar-toggler {
  display: none !important;
}
